<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12">Инфляция в России</h1>
        <div class="col s12 m8">
        <table>
          <thead>
            <tr>
              {% for field in header %}
              <td>{{ field }}</td>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in data %}
            <tr>
              {% for field in row %}
                {% if field < 0 %}
                <td bgcolor="#00ab2e">
                  {{ field }}
                </td>
                {% elif forloop.last %}
                <td bgcolor="#9c9c9c">
                  {{ field }}
                </td>
                {% elif field >= 1 and field < 2 %}
                <td bgcolor="#ff8080">
                  {{ field }}
                </td>
                {% elif field >= 2 and field < 5 %}
                <td bgcolor="#ff5252">
                  {{ field }}
                </td>
                {% elif field >= 5 %}
                <td bgcolor="#ff0000">
                  {{ field }}
                </td>
                {% elif field == "" %}
                <td>-</td>
                {% else %}
                <td>
                  {{ field }}
                </td>
                {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
        </div>
      </div>
    {% endblock %}

  </body>
</html>